@model ImageVM
<div class="row templatemorow myHeight">
    <div class="hex col-sm-6">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(../../Content/Images/@Model.Urls[0]);">
                        <div class="overlay">
                            <div id="myLink">
                            <a href="../../Content/Images/@Model.Urls[0]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                            <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[0]" class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[1]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[1]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[1]"  class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[2]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[2]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[2]" class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[3]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[3]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[3]" class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[4]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[4]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[4]" class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[5]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[5]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[5]"  class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[6]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[6]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[6]" class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[7]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[7]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[7]" class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
        <div>
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="        background-image: url(../../Content/Images/@Model.Urls[8]);">
                        <div class="overlay">
                            <div id="myLink">
                                <a href="../../Content/Images/@Model.Urls[8]" data-rel="lightbox" class="myLink fa fa-expand"></a>
                                <a asp-controller="Home" asp-action="ImageDetail" asp-route-id="@Model.ArtworkIds[8]"  class="fa fa-search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
